[2014-08-18 07:54] jmediamanager opened #1 "Similar Anime window"
Create a new window which shows all the anime which are similar (similar / related / "You may also like")
This functionality is already in JMM Desktop / Anime Buddy

[2014-08-18 07:56] jmediamanager opened #2 "Black Glass skin"
Support the Black Glass skin

[2014-08-18 08:19] jmediamanager opened #3 "JMM server profile selection"
In MyAnime3 allow the user to set up multiple profiles for the location of the JMM server.
The user should then be able to swutch JMM Server on the fly from within the plugin.

[2014-08-18 08:21] jmediamanager opened #4 "Custom key bindings in MA3"
Allow the user to create their own custom key bindings
- Run Import
- Scan Drop folders
- Go to continue watching
- etc

[2014-08-18 08:25] jmediamanager opened #5 "Shared Playlists for JMM Desktop and MyAnime3"
Allow the playlist available in JMM Desktop (stored in the database), to also be used in MyAnime3

[2014-08-18 08:25] jmediamanager opened #6 "Display Trakt friend activity in MyAnime3"
Show recent shouts from friends (or strangers optional) in the following places
- Shouts in Series Info window
- Shouts in Group/Series view when looking at a series
- Shouts in episode list
- Most recent shouts in group filters view / or possibly just show recent activity
- Show activity in continue watching or playlist windows
- Show activity in recommendations windows

[2014-08-18 08:41] jmediamanager opened #7 "Shows series description for Avallonis"
THX for the skinning - looking great - only (ah - yes - here it is ) - could you add a series description to the selection? So when you browse through the list you get the description at the bottom as scrolling text and if you have more than one season at the next page where you select the season? or maybe in a floating window positioned in the upper third of the fanart (probably this way it would

[2014-08-19 00:25] jmediamanager opened #8 "Ability to get a full anime info for anime you dont have"
**Reported by Craige1Emmott, May 28, 2012**

The old anime browser in ma2. Would work great with the related and similar tab.

[2014-08-19 00:51] jmediamanager opened #9 "Make 'Run Import' option easier in MyAnime3"
Make 'Run Import' more easily available in MyAnime3

[2014-08-19 01:56] jmediamanager opened #10 "Fix StreamedMP skin title overlapping issue"
**Reported by werndlymob, Jun 19, 2012**

Fix StreamedMP skin title overlapping issue

http://forum.team-mediaportal.com/threads/my-anime-3.107475/page-12#post-875654

**Jun 21, 2012 werndlymob**

Actually, that's the part i fixed. The remaining two issues are 1. The episode title is cut too short, at least at 1080p, and 2. there's an overlay like a half circle and cylinder on top of the green hig

[2014-08-19 04:44] jmediamanager opened #11 "Allow turning off of keyboard hook when entering Anime3_Main (MA3) as an option"
**Reported by windfury000@yahoo.com, Oct 15, 2012**

It could be considered a bug since the keyboard hook of MA3 sometimes crashes MediaPortal.

I'm asking it as a feature for now, since I'm using MediaPortal in a dual monitor setup, which is why I take my focus off MediaPortal.

So, the thing is, I'm not using my keyboard when using My Anime 3. However, it steals my keyboard inputs everytime I en

[2014-08-20 00:27] speedello opened #12 "Keyboard hook is producing messaging events on a disposed form"
**Reported by maximo.piva@nutzcode.com, Jun 21, 2013**

The form is used by Mediaportal RefreshRate system and it's called 'SuicideForm'

Step to reproduce:
1. Enable Dynamic Refresh Rate on Media Portal 1.4.0
2. Play 2 o 3 movies that have different refresh rate (Ex 24fps)

Looking at the keyboard hook, on the sources right now.

**Jun 21, 2013 maximo.piva**

Okey, found the culprit, disabled rig

[2014-08-20 01:49] speedello opened #13 "StreamedMP has updated skin design dimensions to 1920x1080"
**Reported by patrik.et, Jun 30, 2013**

MyAnime3 only uses the 1280x720 part of the 1920x1080 display area.

Skin .xml-files need to updated to match the new versions/dimentions of StreamedMP. (StreamedMP >= v2.1.0)

**Jul 3, 2013 werndlymob**

Seems like the reason is that streamedmp moved to 1080p as native reolution
see
http://forum.team-mediaportal.com/threads/streamed-mp-2-1-1-29-june-2013-s

[2014-08-20 04:53] jmediamanager opened #14 "Resume video file doesn't work, plays from beginning always"
**Reported by ignaciogarciaaguirre, Oct 22, 2013**

*What steps will reproduce the problem?*

1. Play video.
2. Stop video.
3. Replay video.

*What is the expected output? What do you see instead?*
Option to resume or start from the beginning.
Starts from the beginning always.

*What version of the product are you using? On what operating system?*
MA3 3.1.32.0
MediaPortal 1.5.0 Release
Titan Skin

[2014-08-20 06:18] jmediamanager opened #15 "MA3 Patch, results in broken external player"
**Reported by andyieg.andreas, Mar 3, 2014**

**What steps will reproduce the problem?**
Replace the Anime.dll, with the version from the patch.

I guess this patch is only for certain users, since it breaks my setup. So a more descriptive text for the patch would be nice.

[2014-08-27 12:32] Draven0 opened #16 "Getting login failed from anidb when details are correct"
I have had the same setup of JMM since the last zip on google code came out version 3.1.32.0 it has been brililant and worked perfectly uptil the last couple of weeks. If I enter the correct details to the settings Username & Password I get "Login Failed"

Initially I was concerned that I may have made a firewall change that blocked access to port 9000 to anidb. I have done lots of checking and it

[2014-08-27 15:44] #16 closed, assigned to nobody

[2014-10-01 05:31] speedello opened #17 "Update MA3 to support MP1.9"
Update MA3 to support MediaPortal 1.9

I believe the following changes will be required

If your plugin targets a .NET version in code, it should target .NET 4 as of MediaPortal 1.6.0 Pre-Release (1.5.100).
http://wiki.team-mediaportal.com/1_MEDIAPORTAL_1/18_Contribute/6_Plugins/Plugin_Related_Changes/1.5.0_to_1.6.0/.NET_4

Removal of WindowPlugins.dll
http://wiki.team-mediaportal.com/1_MEDIAPORTA

[2014-10-29 06:35] #17 closed, assigned to jmediamanager

[2014-11-04 02:53] #13 closed, assigned to nobody

[2014-11-04 02:57] #12 closed, assigned to nobody

[2014-11-29 00:10] Revenger1589 opened #18 "No art from themoviedb"
My anime 3.4.2.6 won't display artwork from themoviedb despite it showing fine on JMMDesktop.

[2015-01-02 17:34] xsystematic opened #19 "Changing find (search) setting in config to zero prevents ma3 from working"
In the Anime3 config (accessed through media portal config) on the display tab is the option find,  it allows you to choose how long the search box stays on screen. Changing this to 0 prevents My anime 3 from working in media portal. Also media portal configuration shows an error when you try to access the plugin settings
![ma3 error](https://cloud.githubusercontent.com/assets/10373766/5597849/e75

[2015-01-12 00:01] jmediamanager opened #20 "Group filter does not show all groups"
http://forum.team-mediaportal.com/threads/my-anime-3.107475/page-71#post-1112702

With the beta (3.4.2.8) I observe a mismatch for identified number of groups between the plugin and JMM Desktop-
While the correct total number of groups are identfied in JMMDesktop, only a subset is listed and shown in the plugin.

I observe the behaviour for some time now with the betas, but couldn't find a cause.

[2015-01-12 19:24] yhoogi commented on #20
Some screenshots to show the situation:
![pic3t](https://cloud.githubusercontent.com/assets/10504005/5709235/73f1b1de-9a98-11e4-8b9e-4ad78c6332d5.png)
![pic4t](https://cloud.githubusercontent.com/assets/10504005/5709234/73f13a10-9a98-11e4-8d5d-498fbd93ce07.png)

Normally the number of filtered items should be:
2013-2015(all): 134
2013-2015(Unseen): 32

they gradually increase over time up to nomin

[2015-01-12 22:20] jmediamanager commented on #20
@yhoogi, ok I have tried on my test machines (sql server) and can't reproduce the issue.

I will setup a mysql database to see if it is related to that instead.

Could you please let me know what version of MySQL you are running, and what operating system you have it on.

Alternatively you can give me a copy of your database, and I can test using that as well/

[2015-01-12 23:02] yhoogi commented on #20
first quick response:
MySQL 5.6.22 (updated yesterday; formerly it was 5.6.17)
Windows 8.1

[2015-01-12 23:03] jmediamanager commented on #20
Great, thanks

[2015-01-12 23:09] yhoogi commented on #20
I can't upload the DB here
I will give it to you in the forum as direct chat
PW:
MYAnimeSQL

[2015-01-12 23:24] yhoogi commented on #20
Info on db location in forum chat

[2015-01-13 00:25] AreFinstad commented on #20
you can just uploaded it to any file host like google drive, mega.co.nz, jottadrive, dropbox or whatever and post a link here. not that hard to share a file with someone even if the site does not support it, there really should be no need to post files there that way away from the issue and such.

[2015-01-13 03:02] jmediamanager commented on #20
Fix Available in 3.4.2.10

Basically you were missing TvDB information for one series
http://thetvdb.com/?tab=series&id=264527

If you force the update for this series now it should also solve the issue for you
The code can now handle missing information and continue on

[2015-01-13 03:02] #20 closed

[2015-01-14 11:06] RickDB commented on #11
Don't know if this one still applies but what might solve this is to enable the keyboard hook when the video list / facadaview view (Listcontrol) is focused or maybe additional Mediaportal elements in this one, when the hook keyup/down is called it will check and if it's not in focus it will do e.Handled = false; and let it pass thru.
Example:

[SkinControlAttribute(50)] protected GUIFacadeControl

[2015-01-15 00:21] jmediamanager commented on #11
Thanks, will take a look

[2015-01-16 00:51] #19 closed

[2015-01-16 04:43] #18 closed

[2015-01-22 15:47] xsystematic opened #23 "Going back pages to quickly in MA3 will crash Media Portal"
This also happened in previous versions of My Anime 3. It may be a media portal bug but I can only reproduce the bug with MA3.

If you go back several pages in MA3 to the Media Portal home screen to quickly Media Portal will crash when you try to load MA3 again.
![untitled](https://cloud.githubusercontent.com/assets/10373766/5858683/f47813c8-a24c-11e4-81e3-8187aa5acbac.png)
Here are my log files f

[2015-01-24 02:58] MasterWormy opened #24 "MA3 will crash MediaPortal after viewing an unwatched episode, 'SuicideForm' error"
This bug has been pestering me since I updated to MP 1.7.1 about May 2014. It only happens when MediaPortal's Dynamic Refresh Rate changer is enabled. But it was all working fine together in MP 1.6 or whatever I had before 1.7.1.

This bug has several ways of rearing its head but for now the simplest to explain is what I'll call 'Type A'

Description:
Type A:
1) Play any episode marked 'unwatched'

[2016-06-24 22:13] maxpiva commented on #24
Latest version will not exhibit this behavior since the hacky hook is removed.

[2016-06-24 22:13] #24 closed

[2016-09-02 20:32] yhoogi opened #28 "Playback not working"
Selecting a file for playpack will result in an error message that file can not be played back

MP Version: 1.15.0
Plugin: 3.6.0.2

---

From Error Log:

[2016-09-02 22:25:43,901] [Error  ] [MPMain   ] [ERROR] - Auto3D: Ping failed - Der Wert darf nicht NULL sein.
Parametername: hostNameOrAddress
[2016-09-02 22:26:28,812] [Error  ] [MPMain   ] [ERROR] - TvNotify:LoadNotifies exception : select idP

[2016-09-03 12:00] yhoogi commented on #28
Update:
No change in behaviour since 3.6.0.3. server update.
Plugin version reporting shows 3.4.4.2 (not modified during update?); dll is also reported as 3.4.4.2

Several error messages related to plugin in MP Log & error that graph can not be established

Logfiles as zip attached:
[Uploading log.zip…]()

_______________________
MP Log:
[2016-09-03 13:41:03,659] [Log    ] [MPMain   ] [DEBUG] - Pl

[2016-09-03 12:07] yhoogi opened #29 "Plugin Version number is not updated"
Plugin has been updated to 3.6.0.2 but in config file & logs the plugin is shown as 3.4.4.2
anime3.dll is also version 3.4.4.2
OS used is W10 64bit, btw.

MP Myanime3.log -file:
00000001 - 03.09.2016 13:41:03 - -------------------- SYSTEM INFO -----------------------
00000001 - 03.09.2016 13:41:03 - Plugin Version: v3.4.4.2
00000001 - 03.09.2016 13:41:03 - Operating System: Windows 10 32-bit
00000

[2016-09-03 12:22] yhoogi commented on #28
Closure:
Streaming is enabled by default.
Needs to be disabled, otherwise system is looking for the streaming server

[2016-09-03 15:04] ElementalCrisis commented on #28
Streaming behavior is changed in 3.6.5 so shouldn't be an issue.

[2016-09-03 15:05] ElementalCrisis commented on #29
Ah yeah that's my fault, until compiling the latest version I had never used My Anime 3 so I'm sure I made some mistakes. I'll correct it and re-upload it.

[2016-09-03 15:29] ElementalCrisis commented on #15
I'm going to close this as it's was for an older version, if the problem is still present then comment in this thread.

[2016-09-03 15:29] #15 closed

[2016-09-03 21:35] #29 closed

[2016-09-04 00:13] nettosama opened #30 ""Continue Watching" from "Menu" gone in My Anime 3 - 3.6"
Updated to 3.6.0.2, and now the option on the menu to go directly to "Continue Watching" is gone. It helped jumping quickly to the episodes of each series that you can continue to watch from.

Checked using Titan skin.

[2016-09-04 03:07] Terr4 opened #31 "wrong aspect ratio, no subtitles and no context menu in MP MyAnime 3.6.0.4"
When playing an episode through the MyAnime 3.6.0.4 plugin in Media Portal 1.15 I get following issues:

- the aspect ratio of the playback is wrong, in my case it was always 4:3
- no subtitles are getting displayed as defined in preferences and cannot be enabled manually as it seems
- I cannot open the context menu in MP where you usually can set subtitles and aspect ratio. IR Remote shortcuts wo

[2016-09-04 05:40] yhoogi commented on #29
Sorry,

Just seen your comment.
You still need support?

[2016-09-04 07:46] ElementalCrisis commented on #29
With My Anime 3? Definitely. :)

[2016-09-04 10:59] Andy2244 opened #32 "3.6.0.4 uses wrong installation folder."
The 3.6.0.4 version installs itself into the wrong destination folders.

"Anime3.dll,Anime3.pdb,MA3_FFDShowAPI.dll,MA3_FFDShowAPI.pdb" are located directly under "c:\Program Files (x86)\Team MediaPortal\MediaPortal" instead of "c:\Program Files (x86)\Team MediaPortal\MediaPortal\plugins\Windows".

So for me the 3.6.0.4 version does not even show up in MP. The older versions did not have this probl

[2016-09-04 11:35] Andy2244 commented on #32
Just did re-download the MyAnime3 plugin from the mainsite and noticed that my version was 6.9 MB, while the new one was 8.8 MB. Now the folders are correct, but you have to still checked "Avalon" or nothing will be installed. So only checking "Titan" will not install the skin/plugin.

[2016-09-04 11:35] #32 closed

[2016-09-04 11:50] Andy2244 opened #33 "Anime3 start page (Titan) has no text background, is hard to read."
My Anime3 startup page is now hard to read, because the text elements have no background? The sub-pages look normal.

My Anime3 startup page looks like this:
![anime3](https://cloud.githubusercontent.com/assets/5340247/18230790/503f48f4-72a6-11e6-9ae1-afc6bf512df3.jpg)

[2016-09-04 13:43] ElementalCrisis commented on #32
I'll look into it, the installer is the exact same one used for the previous release so this bug might have been present for awhile.

On a side-note, I'm really not a fan of MediaPortal's extension installer. :)

[2016-09-04 13:45] ElementalCrisis commented on #31
We also discovered this and it will be looked into.

[2016-09-04 13:49] ElementalCrisis commented on #33
I suppose this is a good as spot as any to jump and and figure out how MediaPortal skins work.

[2016-09-04 13:50] Terr4 commented on #33
Did you do an update or a fresh install? I also use Titan and I don't have this problem:

![bildschirmfoto 2016-09-04 um 15 46 47](https://cloud.githubusercontent.com/assets/6331473/18231308/1c895c82-72b7-11e6-8530-26041ad75fdc.png)

[2016-09-04 15:02] Andy2244 commented on #33
I did upgrade/repair MP than a uninstall + install of MyAnime3.

[2016-09-05 05:17] yhoogi opened #34 "Fanart lags behind while fast scrollling"
In StreamedMP (didn't checked for other yet) display-speed of fanart does not match scrolling speed.
Will result in showing wrong fanart for group (i.e. one of the previous series scrolled through).
Will not be recovered until next group is selected.

MP 1.15.0

[2016-09-05 14:04] maxpiva commented on #34
This only happens in the latest version?

On Mon, Sep 5, 2016 at 2:17 AM, yhoogi <notifications@github.com> wrote:

[2016-09-05 19:07] yhoogi commented on #34
Nope

Is an older bug, but feels like it gotten worse.
As I am now get a liking to raise SPRs I thought I throw it in to the mix. :)

Low prio bug is ok

Cheers,

[2016-09-05 19:40] maxpiva commented on #34
Yepz, problem is you can scroll faster than MediaPortal is able to load and render the image. Some tradeoff should be made.

[2016-09-05 20:22] RickDB commented on #33
@Andy2244 Can't reproduce that problem here, could you check this folder:

C:\ProgramData\Team MediaPortal\MediaPortal\skin\Titan\Media

And see if you have the following files there:

panel_list.png
panel_list_noinfo.png

If so please try to clear the skin cache as there could be some leftover files, most skins have an option for that but you can also do this manually by **only** deleting the con

[2016-09-05 20:29] Andy2244 commented on #33
Both files are present and look fine, but even after deleting the cache i get the same problem. I will try the fresh install later this week and see if this solves it. Thanks for the time trying to solve this minor problem.

[2016-09-05 20:39] #33 closed

[2016-09-05 21:17] RickDB commented on #33
Noticed that 1 file is missing (panel_myfilms_menu.png) and is only part of Titan extended, Moving Pictures might reference it as but you can get the it by installing Titan Extended:

http://www.team-mediaportal.com/extensions/widescreen/titan-extended

[2016-09-05 21:26] Andy2244 commented on #33
Installing Titan extended solved the problem for Anime3 and Moving Pictures, thx.

[2016-09-05 21:39] maxpiva commented on #30
Wont change, You can use the continue watching filter, at the main screen, we deprecated the previous Continue Watching, because we have to maintain an additional skin. And the previous funcionality is already in filters.

[2016-09-05 23:28] RickDB commented on #33
Good to hear, missing file should be included in the next MA3 release as well :)

[2016-09-06 00:33] nettosama commented on #30
Not even the same functionality. One takes you to the episode list after clicking the item, the other starts the "to watch" episode. But whatever.

[2016-09-06 00:44] maxpiva commented on #28
Install a capable Directshow filter for media portal, and tell us how it goes:

[Url Source Splitter](http://www.team-mediaportal.com/extensions/movies-videos/mediaportal-iptv-filter-and-url-source-splitter)

Please enable streaming after installing, thanks.

[2016-09-06 01:17] maxpiva commented on #30
Hmm, we might re-evaluate if we have more people capable of mantaining it

[2016-09-06 01:19] maxpiva commented on #31
Enabling Automatic filter selection in MediaPortal Configuration -> Codecs & Renderer
will **fix it**. We're in the process of identifying the problem, which is Directshow filter related.

[2016-09-06 02:54] maxpiva commented on #31
The fix for the 4:3 problem, since Streaming will be automatically enabled in next version, if you dont have you import folder mapped in My Anime. Or the Anime is in Cloud Storage:

1) Install Lav Filters or any url filters with directshow merits, without a suitable Url filter, the video won't load.  #28.

2) Currently we have a bug with MediaPortal custom directshow graph build, If MediaPortal ge

[2016-09-06 06:20] ElementalCrisis opened #37 "Something Random Shows No Results"
Skin: Titan

Doesn't matter what you input, it returns nothing.

[2016-09-06 06:21] ElementalCrisis commented on #37
Also it seems changing #Anime3.Random.Series.Category to #Anime3.Random.Series.Tag shows that string instead of the word Tag where it showed Category before.

[2016-09-06 06:25] ElementalCrisis opened #38 "Fanart Does Not Cycle"
The Filter menu shows the same 4 fanart images every single time when there are a lot more available to display.

Skin: Titan

[2016-09-06 06:30] ElementalCrisis commented on #38
In fact, this seems to be related to any type of displaying of fanart as it shows the same posers as well when viewing different filters.

[2016-09-06 06:49] ElementalCrisis opened #39 "Multiple Windows Display Nothing"
EDIT:
I've edited this issue to contain the results of the windows that display nothing when accessed.

Skin: Titan

Images (Posters, Fanart and Wide Banners)
Series Info (AniDB and Groups)
Characters
Seiyuu
Relations

[2016-09-06 06:55] ElementalCrisis commented on #37
It does work when you're selecting a random series or episode from a group but not from your whole collection.

[2016-09-06 11:02] RickDB commented on #37
Should work after PR#36 , the group filter wasn't being set and as a temporary fix made it the same as the context menu one which forwards the selected group.

[2016-09-06 14:49] RickDB commented on #39
Should be fixed in latest PR:

https://github.com/japanesemediamanager/MyAnime3/pull/40

MPEI wasn't installing the newer files and also some other Titan Extended ones, let me if it works with that one :)

[2016-09-06 18:22] ElementalCrisis commented on #39
Hmm, I didn't use the MPEI as I copied the files directly from the release folder into their respective folders. Still an issue with the above not showing.

[2016-09-06 18:23] ElementalCrisis commented on #37
Just tried with latest build and works perfectly.

[2016-09-06 18:23] #37 closed

[2016-09-06 20:38] RickDB commented on #39
So you copied both the .dll and skin files right from the top most /release folder right?
The latest MPEI maker file will install everything correctly now which is worth a try as that will rule out issues with locations :)

Tested here with Titan and Titan extended installed but everything had the proper label including that Something Random view, anything in mediaportal logs reporting a label mis

[2016-09-06 20:45] ElementalCrisis commented on #39
I'll have to check when I get home but the random window works, the ones I mentioned above don't display anything when selected.

[2016-09-06 20:55] RickDB commented on #14
Tested here with latest MA3 version and getting the correct resume time and resumes like expected, so this one looks fixed.

[2016-09-06 20:58] RickDB commented on #23
Tested here and can't reproduce this one anymore (had it as well), @xsystematic are you able still able to crash it with quick back navigation?

[2016-09-06 21:00] RickDB commented on #11
Fixed in current master branch as it uses a different method of reading out the keys (native Mediaportal event) which no longer locks out other keyboard input.

[2016-09-06 23:46] RickDB commented on #30
Just restored this feature for Titan and tested working with it so created PR  :)

[2016-09-07 00:42] nettosama commented on #30
Just pulled your PR, and it restores it correctly! Thank you.

[2016-09-07 01:07] RickDB commented on #39
Btw the MPEI installer will also clear the skin cache by default as otherwise you might get old skin files.

[2016-09-08 10:49] ElementalCrisis commented on #11
Fixed in 3.6.0.10.

[2016-09-08 10:49] #11 closed

[2016-09-08 10:49] ElementalCrisis commented on #14
Fixed in 3.6.0.10.

[2016-09-08 10:49] #14 closed

[2016-09-08 10:50] ElementalCrisis commented on #23
Fixed in 3.6.0.10.

[2016-09-08 10:50] #23 closed

[2016-09-08 10:51] ElementalCrisis commented on #7
The Avallonis skin is no longer updated and thus support for it has been removed as for version 3.6.0.10.

[2016-09-08 10:51] #7 closed

[2016-09-08 10:55] ElementalCrisis commented on #10
Unable to reproduce on current version, closing.

[2016-09-08 10:55] #10 closed

[2016-09-08 10:56] #30 closed

[2016-09-08 10:56] RickDB commented on #39
Not able to reproduce the bug yet in clean setups or current ones, suggest we move this to a later release after more testing :)

[2016-09-08 11:00] RickDB commented on #34
Possibly related to issues #38 as the OnItemSelected event can fire up multiple times and some locking occurs there.

[2016-09-09 15:34] pandabuilder opened #50 "'Go to Episode List' option in 'Continue Watching' takes to group list instead of episode list"
'Go to Episode List' option in 'Continue Watching' takes to group list instead of episode list.

[2016-09-09 16:09] maxpiva commented on #50
In Group Filters (first screen), that is normal. Since its a group filter.
In case Of the side menu continue watching, There is already work to bring
that functionality back.

On Fri, Sep 9, 2016 at 12:34 PM, pandabuilder <notifications@github.com>
wrote:

[2016-09-10 16:30] RickDB commented on #50
Hi @pandabuilder

This is fixed in the latest release (3.6.10), only remaining problem should be the top left label with the title that doesn't get updated which will be fixed in the next release.

[2016-09-14 11:20] RickDB opened #57 "Playback and watched status possible if file was removed"
**Issue**

Can toggle watch status or start playback even though JMMServer reports them as missing file(s), this results in SQL error for watched toggle and general playback error for playback.

**Resolution**

Make MA3 aware of file state and disable certain actions.

[2016-09-14 11:35] ElementalCrisis commented on #57
Check Desktop as it does this and only lets you update files in your actual collection.

[2016-09-14 11:43] RickDB commented on #57
On JMMDesktop the group was still listed but couldn't playback files as they were marked as removed, didn't check watch status however :)

Perhaps MA3 can detect if a file exists on playback start and report back in dialog?
On entering episodes view it normally highlighted them orange (for offline / not available) just not sure if it did that in real time from JMMServer.

[2016-09-17 01:06] #31 closed

[2016-10-05 11:44] RickDB opened #60 "Not consistently using proper series / group title"
**Issue**

It doesn't always use the series / group name consistently (see below example), we need to make sure it always bases it off the user preference.

http://i.imgur.com/h6roTXE.jpg

We should use *.PreferredTitle instead of groupname / seriesname.

**To reproduce**

Display series with romanji name (override if needed) and you will notice the naming in list is different than the one from th

[2016-10-06 10:58] ElementalCrisis opened #61 "Calender Does Not Go Past October 15th"
![mediaportal_2016-10-06_02-42-00](https://cloud.githubusercontent.com/assets/9443295/19148375/45d19b4a-8b71-11e6-9a1b-55fa7e679ed3.png)

Just ends at October 15th, also doesn't seem to pull all the entries on AniDB either.
http://anidb.net/perl-bin/animedb.pl?web=1&unknown=1&tvspecial=1&tvseries=1&show=calendar&ova=1&other=1&musicvideo=1&movie=1&last.anime.year=2016&last.anime.month=10&do.last.an

[2016-10-06 11:02] ElementalCrisis opened #62 "Characters Do Not Show"
![image](https://cloud.githubusercontent.com/assets/9443295/19150022/9e3d033e-8b79-11e6-897f-9e209e968b9d.png)

[2016-10-06 11:03] ElementalCrisis opened #63 "Not All Relations Are Shown and String Issue"
![image](https://cloud.githubusercontent.com/assets/9443295/19150039/b2771880-8b79-11e6-8c65-b46e72c38e54.png)

[2016-10-06 11:05] ElementalCrisis opened #64 "Seiyuu Does Not Show"
![image](https://cloud.githubusercontent.com/assets/9443295/19150119/0f66c496-8b7a-11e6-9c53-e0a5a8e36e5b.png)

Should probably also say No Seiyuu Found for SERIES NAME.

[2016-10-26 17:09] RickDB commented on #62
Fixed in commit id cf37896bbfbc2486425f8d4e75194933fdfcfc45

[2016-10-26 17:09] #62 closed

[2016-10-26 17:11] RickDB commented on #63
Fixed in commit id d43e351e6f1c006efb7b1457e000b36d66bd5969

Double checked a few other things in this window and made sure we skip invalid entries with no main title as well.

[2016-10-26 17:12] #63 closed

[2016-10-26 17:12] #50 closed

[2016-10-26 17:13] RickDB commented on #64
Fixed in commit cf37896bbfbc2486425f8d4e75194933fdfcfc45

Should follow the same logic as desktop now for naming, let me know if you spot issues with it :)

[2016-10-26 17:13] #64 closed

[2016-10-26 17:17] RickDB commented on #60
Added workaround in commit 3dd87ab440bef466a2a522269b6149f7ce89851c

For further improvement we need to look at JMMServer as the only other way of doing this properly is very slow depending on group count, for the time being this is the best solution.

[2016-10-26 17:17] #60 closed

[2016-10-26 17:38] RickDB commented on #61
Fixed in commit id 834cc13f77806a25a755627bcbf5af7271222f71

Now tries to load up to 6 months in advance, tested and for my current shows went up to December as there was nothing new after that.

[2016-10-26 17:38] #61 closed

[2016-11-08 16:11] RickDB commented on #28
For the time being disabled streaming in commit id cad47557395e2dba1ac497863922d7f2939ecdbc with dialog showing not supported if it wants to stream (file not local).
Right now the custom player to solve this isn't fully working so will need a closer look after beta :)

[2016-12-24 10:41] ElementalCrisis opened #65 "Series Info Window Not Populating Correctly"
![image](https://cloud.githubusercontent.com/assets/9443295/21466472/579b637a-c982-11e6-86ab-8d5766adaaff.png)

Skins: All

The series info shows when viewing your series list but not when viewing the actual series.

Additional information including logs can be found here, http://forum.team-mediaportal.com/threads/my-anime-3.107475/page-94#post-1204957.

[2016-12-24 10:49] RickDB commented on #65
That's odd, so this is for series that are not in a group (single series)?

[2016-12-24 10:52] ElementalCrisis commented on #65
Just tried a couple more series, both single and in groups and it seems to affect them all.

[code]

[2016-12-24 10:53] RickDB commented on #65
Ah the LoadLocalThumbnail function, probably something that is no longer returning from server so will debug it :)

[2016-12-24 12:10] RickDB commented on #65
Fixed LoadLocalThumbnail function and commented out the optional fanart part of it as it caused a delay especially for large series.

[2016-12-24 12:10] #65 closed

[2016-12-26 08:50] ElementalCrisis commented on #39
Going to close this as I can no longer reproduce, going to assume it was something related to how MediaPortal was setup.

[2016-12-26 08:50] #39 closed

[2016-12-26 08:50] ElementalCrisis commented on #28
@RickDB this has been resolved right?

[2016-12-26 11:20] RickDB commented on #28
Yeah disabled streaming functionality in MA3 for now with dialog if for some reason the file can't play (no direct path).
So we can close this and if we get any user request for it look again and see if we can find a proper fix for the player class, think for Mediaportal it would be a rare use case to not see direct paths but we can wait and see :)

[2016-12-26 11:20] #28 closed

[2017-07-29 16:49] yhoogi commented on #34
As issue still exists:
Will this be corrected with the v3.8?

Cheers,

[2017-09-03 14:53] da3dsoul opened #66 "This is all that's left for 3.8"
We've got everything else done @maxpiva

[2017-10-15 18:39] RickDB commented on #66
@maxpiva Tested today and runs much better now 👍  , bugs found so far:

- Images not loading, only episode thumbnails work but cover / fanart etc.. doesn't:

![image_issue_1](https://user-images.githubusercontent.com/347084/31587764-9ef578ac-b1e7-11e7-9da3-4a50596c9c47.PNG)

- Can't remap local to remote path  as remote path gets converted to only "\":

![local_mapping_issue](https://user-images.g

[2017-10-26 12:45] maxpiva commented on #66
My initial assesment, is that the problem not only lies on Anime3.
Initially most series do not have fanarts, i blamed my import, but
something else smells. Server might have some bug related to myanime3, and
also myanime has some visualization bugs. Tried to squash them, but failed,
will retry later on.

On Thu, Oct 26, 2017 at 4:00 AM, ElementalCrisis <notifications@github.com>
wrote:

[2017-10-26 12:59] RickDB commented on #66
Thanks, tried to debug here as well but didn't come far :(

[2017-11-07 02:57] scythe000 commented on #66
I'll test as soon as the fix is in place :-)

[2017-11-21 02:54] scythe000 commented on #66
@maxpiva Any luck?

[2017-11-21 02:57] da3dsoul commented on #66
He actually just posted in dev chat today. New computer, so he's been preoccupied getting everything set up.

[2017-12-11 19:13] scythe000 commented on #66
Bumping for great joy :-).

[2017-12-11 19:25] ElementalCrisis commented on #66
@scythe000

https://forum.team-mediaportal.com/posts/1234827/

[2017-12-11 19:28] scythe000 commented on #66
Awesome! Thank you. I don’t really have the chops to compile it myself, so I’ll wait for the binary to be posted.

- Sent from my iPhone. I often use speech to text transcription; please excuse any grammatical or spelling errors. -

On Dec 11, 2017, at 11:25 AM, ElementalCrisis <notifications@github.com<mailto:notifications@github.com>> wrote:

@scythe000<https://github.com/scythe000>

https://for

[2018-01-06 12:22] ElementalCrisis commented on #2
I'm going to leave this issue open but I doubt this will be added by the team. I'm tagging it with the Help Wanted label.

[2018-01-06 12:23] ElementalCrisis commented on #3
This doesn't seem feasible given the free time @maxpiva and @RickDB have.

Closing for now.

[2018-01-06 12:23] #3 closed

[2018-01-06 12:24] ElementalCrisis commented on #6
This doesn't seem feasible given the free time @maxpiva and @RickDB have.

Closing for now.

[2018-01-06 12:26] ElementalCrisis commented on #8
If this feature is still wanted we can re-open this issue, however as no one has added to this issue in years, I'm closing it.

[2018-01-06 12:27] ElementalCrisis commented on #66
Thanks @maxpiva and @RickDB for all your hard work, a little late but we can finally close this issue.

[2018-01-06 12:27] #66 closed

[2018-01-06 12:28] ElementalCrisis commented on #57
Still an issue @RickDB?

[2018-01-06 12:28] ElementalCrisis commented on #1
Are you still planning on implementing this @RickDB?

[2018-01-06 12:28] ElementalCrisis commented on #5
Are you still planning on implementing this @RickDB?

[2018-01-06 12:29] ElementalCrisis commented on #4
This doesn't seem feasible given the free time @maxpiva and @RickDB have.

Closing for now.

[2018-01-06 12:29] #4 closed

[2018-01-06 12:29] #6 closed

[2018-01-06 12:29] #8 closed

[2018-01-06 12:30] ElementalCrisis commented on #9
If this feature is still wanted we can re-open this issue, however as no one has added to this issue in years, I'm closing it.

[2018-01-06 12:30] #9 closed

[2018-01-06 12:30] ElementalCrisis commented on #34
@maxpiva or @yhoogi, is this still an issue?

[2018-03-24 14:21] bertrey opened #67 "Display problems star ratings"
## Description

I've noticed several display problems with the star ratings on groups/series.
I'm wasn't sure whether I should create separate issues or just one ... I went with one - I hope that's OK.

I have also attached patches for all these issues (separately) [HERE](https://github.com/ShokoAnime/MyAnime3/files/1844468/patches.zip).
I developed these using the Branch_v3.7.1.0 branch (not the

[2018-03-24 23:18] ElementalCrisis commented on #67
Thanks for the info and the fix, a pull request is the right way to do it so we can add your changes in.

Here's what you need to do.

1. Fork this repo.
2. Upload your changes in your newly forked repo.
3. Create a pull request (https://help.github.com/articles/creating-a-pull-request/)

If you need additional help, jump on our Discord Server.

[2018-04-06 14:29] #67 closed

[2018-04-06 15:19] ElementalCrisis commented on #67
@bertrey PR was merged in, sorry for the delay. We currently don't have anyone maintaining MA3 as both @maxpiva and @rickdb are busy on other projects. If you'd like to continue helping out, send me a message on Discord.

[2018-06-16 23:49] RickDB commented on #5
Gonna close this one as to implementing this with stream support as well isn't really possible unless we add some hacks (player doesn't support it atm).

[2018-06-16 23:49] #5 closed

[2018-06-16 23:50] RickDB commented on #2
Skin is no longer supported on recent Mediaportal version so closing this one.

[2018-06-16 23:50] #2 closed

[2018-06-16 23:51] RickDB commented on #1
@ElementalCrisis  Not planned as I'm not sure how to grab this info from the new API.

[2018-06-16 23:52] ElementalCrisis commented on #1
@da3dsoul can you add the API call for @RickDB please.

[2018-06-17 00:00] ElementalCrisis commented on #38
Seems this is no longer an issue, some improvements could be made to the random algorithm so the previous fanart does not show up again but other than that, it works.

[2018-06-17 00:00] #38 closed

[2018-06-17 00:01] ElementalCrisis commented on #34
I no longer encounter this issue, is not instant but it does change the fanart after the series poster has loaded. Even switching to multiple series shows the correct fanart.

[2018-06-17 00:01] #34 closed

[2018-06-17 00:09] da3dsoul commented on #1
Is MyAnime3 in progress for APIv2? You should wait if that's the case, as it's getting a redesign.
Obviously, everything will make it to the API when that happens

[2018-07-18 13:18] kusco123 opened #69 "Sometimes when anime finishes the Epsiode overview stays empty."
This happens only sometimes - but when it happens the overall response becomes extremly slow and you need to return to mainscreen before it's starting to behave normal again.

The first effect is that the episode List stays empty.

In teh Log it happens around 12:05

The Setup is:

Shokoserver is running on Synology (2GHZ, 8GB) + Pictures

[309438_MediaPortal-Error.zip](https://github.com/ShokoAni

[2018-08-15 21:00] yhoogi opened #70 "Set all episodes to unwatched state not working while in episode list"
## Description

The function to set all eps to unwatched state is only working on series level
Using the opzion while in the eps list will have no effect
Opposite way (setting all eps to watched state is working

## STEPS TO REPRODUCE

Navigate to episode list of a series
call menu and select to set all eps to unwatched state

[2018-08-18 03:48] ElementalCrisis commented on #1
As My Anime 3 is now in maintenance mode, we will not be adding new features and such, this issue is now closed.

[2018-08-18 03:48] #1 closed

[2018-08-18 03:48] #57 closed

[2018-08-18 03:50] ElementalCrisis commented on #69
Fixed in https://github.com/ShokoAnime/MyAnime3/commit/3e53ace1bd9906b938d8d24efb37a1cd28ac05ed

[2018-08-18 03:50] #69 closed

[2019-08-12 22:30] Yhoogi1 opened #71 "MP1.23_Pre seems to break playback"
With update to MP1.23 Pre somehow playback is not possible anymore
Seems like something has changed in the new MP version

Steps to reproduce:
Clicking on an episode does not start playback. Navigation still possible.
I presume either the playback is not executed or immeditately returns

[2019-08-13 17:30] Yhoogi1 opened #72 "MyAnime 3: With Server 3.9.5 episode lists are empty"
Installing ShokoServer 3.9.5 no episodes are shown in episode list with MP 1.22 & MP1.23 Pre
Shokoserver 3.9.4 is doing fine with MP 1.22

## STEPS TO REPRODUCE

Install 3.9.5 and select a series from MyAnime3
Episode list is empty

[2019-09-02 16:48] Yhoogi1 commented on #71
just a question:
Will there be hope that it will be fixed?

Thanks

[2019-09-02 23:42] maxpiva commented on #71
Probably, I can take care of this on the weekend.

[2019-09-03 04:45] Yhoogi1 commented on #71
thanks a lot

[2019-09-20 16:32] Yhoogi1 commented on #71
Hi there,

Is there still hope?

[2019-10-15 01:02] #72 closed

[2019-10-15 01:02] #71 closed

[2019-10-20 10:37] Yhoogi1 commented on #71
Many Thanks

Is there somewhere a description what is needed / how to compile the version with the updates?

[2020-08-09 09:37] Andy2244 opened #73 "cant install via extension-manager?"
I can see the 3.7.3 release via the manager, but on install i just get 404 not found?

[2020-08-09 10:08] da3dsoul commented on #73
No offense, but we haven't supported MA3 for years. We don't have any devs who are at all familiar with MP or the MA3 codebase.
If you want to see an MP2 plugin, go put a thumbs up on https://github.com/ShokoAnime/ShokoServer/issues/833. Feel free to comment if you have any input

[2020-08-09 10:10] da3dsoul commented on #73
To give an idea, I'm the most active dev going back years now, and I don't know what "extension manager" refers to, nor what URL it's looking for that is now a 404

[2020-08-09 10:14] Andy2244 commented on #73
Sure i know, was also years i last tried MA3/MP1, but recently i had so many issues with the Kodi-DS player that i wanted to give MP1 a try, since it's still updated.

I just saw the "recent" 2019 release and assumed 3.7.3 should work with MP1, given the last commits by ElementalCrisis?

[2020-08-09 10:24] da3dsoul commented on #73
There have been 310 commits since October 27, 2019. Theoretically, it might work with minimal changes, but I have no idea

[2020-08-09 10:26] da3dsoul commented on #73
@ElementalCrisis can you see if we can easily build MA3 against Server for this next release, and probably update the URL to whatever changed? I would assume that it's the GitHub move to ShokoAnime, but idk

[2020-08-09 23:25] ElementalCrisis commented on #73
Yep, I'll do some testing tonight and see if it works.

[2020-08-09 23:56] ElementalCrisis commented on #73
No issues here, able to find and install it via Known Extensions in the MPEM.

@Andy2244 can you write out what you're doing just in case I'm doing something different?
@da3dsoul no issues so far, will do some more testing but plugin loads fine and connects to Shoko Server.

[2020-08-10 02:29] Andy2244 commented on #73
Just did a fresh install of MP1, than started the Extension-Manager and updated the repo info twice, since on the first update only 3.7.2 shows up. Than i just click install or select 3.7.3 from the dropdown and get the 404 error.

Will try reinstall again, maybe just a hiccup on my end.

[2020-08-10 02:50] Andy2244 commented on #73
Alternative can you package the extension as release on github, so i can manually install it, without needing to compile it myself?

[2020-08-10 03:44] ElementalCrisis commented on #73
Ah makes sense 3.7.2 errors out as that files was moved to the My Anime 3 archive. I'm in the process of re-organizing our downloads folder and will rebuild update.xml and remove 3.7.2,

Should have no issues (for now) downloading 3.7.3 and installing it.

[2020-08-10 04:06] ElementalCrisis commented on #73
Updated the files and MediaPortal website listing.

[2020-08-10 05:36] Andy2244 commented on #73
ok tested and working now.

PS: Kinda crazy that good old MP1 is the only media-center i could find with working MadVR + Shoko, but once you are loaded in its actually pretty snappy.

[2020-08-10 05:37] #73 closed

[2020-08-10 05:37] da3dsoul commented on #73
MP2 supports madvr, right?

[2020-08-10 05:40] Andy2244 commented on #73
nope... seems the guy that did it for MP1 kinda lost interest, so no MadVR for MP2 atm. There is a request ofc to get it back...
BTW i found this regarding mpc players in a [Emby thread](https://emby.media/community/index.php?/topic/81026-bring-back-madvr/)..... which also once had MadVR support and now they removed it again lol.
Scroll down to the long mpc settings page, this seems promising as a

[2020-08-10 05:48] Andy2244 opened #74 "List/layout empty after manually stopping a playback?"
Not sure if anyone actually has the time to fix/check those things for MA3, but while i'm testing i might just document the bugs.

If i start playing a episode from a filter, like "recently watched" and than stop it via "B" i land in a somewhat empty screen with only a background and a empty list box. I need to hit ESC to get back/up one level until i see the correct layout again?

Thats on the de

[2020-08-10 06:11] ElementalCrisis commented on #73
Probably just need to update the version number and rebuild it, I'll do that in a bit.

[2021-06-30 22:58] #74 closed